.card-container{
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    border-radius: 10px;
}

.card-image{
    width: 200px;
    height: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.review-details{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}