.review-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 50px;
}

@media screen and (max-width: 500px) {
    .review-container{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
    }
}