@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

.home-container h1{
    font-size: 55px;
}

.colored-text{
    color: blue;
}

.live-demo-btn{
    padding: 10px;
    width: 300px;
}

.home-page-review{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 50px;
}

@media screen and (max-width: 500px) {
    .home-container h1{
        font-size: 25px;
        text-align: center;
    }

    .home-page-review{

        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
    }
}