@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
}

.colored-text{
    color: blue;
}

.live-demo-btn{
    padding: 10px;
    width: 300px;
}

.home-page-review{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 50px;
}